@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #3b025f;
  --color-secondary: #615c68;
  --color-accent: #7a489e;
  --color-surface: #ffffff;
  --color-surface-container: #f9f9f9;
  --color-outline: #7d7481;
  --color-outline-variant: #cec3d1;
  --color-on-surface: #1d1b20;
  --color-on-primary: #ffffff;
  
  --font-body-md: "Plus Jakarta Sans", sans-serif;
  --font-display-lg: "Playfair Display", serif;
  --font-display-md: "Playfair Display", serif;
  --font-label-md: "Plus Jakarta Sans", sans-serif;
  --font-headline-sm: "Plus Jakarta Sans", sans-serif;
  
  --spacing-stack-lg: 2rem;
  --spacing-margin-page: 2rem;
  --spacing-stack-md: 1rem;
  --spacing-gutter-grid: 1.5rem;
  --spacing-container-max: 1440px;
  --spacing-stack-sm: 0.5rem;
}

@layer base {
  body {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    font-family: var(--font-body-md);
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .stationery-card {
    background-color: #ffffff;
    border: 1px solid rgba(122, 72, 158, 0.1);
    position: relative;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: -16;
    }
  }
  
  .animate-dash {
    animation: dash 1s linear infinite;
  }
}
